header{
    background-color: #7C5E99;
    box-shadow: 0 10px #000;
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
    
}
nav{
   /* background-color: #000;*/
    text-align:right;

}
a{
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    margin-right: 30px;

}
a::before{
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    margin-right: 10px;
}
#button{
    background-color:#F25A70;
    box-shadow: 5px 5px #000;
    display: inline-block;
    width: 170px;
    height: 60px; /*mesma altura da caixa*/
    padding: 18 20px; 
    text-align: center;
    vertical-align: center;
    line-height: 60px;
    margin: 0px;
  

}
#button:hover{
    transform:scale(1.3);
}
